name: Taiwan Stock News Daily

on:
  schedule:
    # 毎日 台湾時間 08:00（UTC 23:00）
    - cron: '0 23 * * *'
  workflow_dispatch:

jobs:
  run-news:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
         pip install --upgrade pip
         pip install google
         pip install google-generativeai
         pip install sendgrid

      - name: Run news script
        env:
          SENDGRID_API_KEY: ${{ secrets.SENDGRID_API_KEY }}
          SENDGRID_FROM: ${{ secrets.SENDGRID_FROM }}
          SENDGRID_TO: ${{ secrets.SENDGRID_TO }}
        run: |
          python taiwan_stock_news_system_v5.py
